@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  /* Example base styles */
  html {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f9fafb;
  }
}

body {
  background-color: #151515;
}
@layer components {
  .height {
    @apply sm:min-h-[400px] md:min-h-[600px] lg:min-h-[800px];
  }
  .text-mustard {
    @apply text-[#FFBA08];
  }
  .gradient-bg-secondary {
    @apply bg-[#151515];
  }
  .bg-mustard {
    @apply bg-[#FFBA08];
  }
  .text-lavander {
    @apply text-[#9360E3];
  }
  .gradient-bg {
    @apply bg-[#1E1E1E];
  }

  .bg-secondary-primary {
    @apply bg-[#1A1A1A];
  }
  .text-secondary-primary {
    @apply text-[#1A1A1A];
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}


/* Base size (mobile) */
.responsive-lootbox {
  width: 180px;
  height: 180px;
}

/* Small (sm) */
@media (min-width: 640px) {
  .responsive-lootbox {
    width: 220px;
    height: 220px;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  .responsive-lootbox {
    width: 250px;
    height: 250px;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  .responsive-lootbox {
    width: 280px;
    height: 280px;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  .responsive-lootbox {
    width: 320px;
    height: 320px;
  }
}

/* 2XL (1536px - Laptops) */
@media (min-width: 1536px) {
  .responsive-lootbox {
    width: 190px;
    height: 190px;
  }
}

/* 3XL (1920px - Desktops) */
@media (min-width: 1920px) {
  .responsive-lootbox {
    width: 380px;
    height: 380px;
  }
}