@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  /* Example base styles */
  html {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f9fafb;
  }
}

body {
  background-color: #151515;
}
@layer components {
  .height {
    @apply sm:min-h-[400px] md:min-h-[600px] lg:min-h-[800px];
  }
  .text-mustard {
    @apply text-[#FFBA08];
  }
  .gradient-bg-secondary {
    @apply bg-[#151515];
  }
  .bg-mustard {
    @apply bg-[#FFBA08];
  }
  .text-lavander {
    @apply text-[#9360E3];
  }
  .gradient-bg {
    @apply bg-[#1E1E1E];
  }

  .bg-secondary-primary {
    @apply bg-[#1A1A1A];
  }
  .text-secondary-primary {
    @apply text-[#1A1A1A];
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
